*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro", sans-serif;
}

.app-container {
  margin: 0 6rem;
}

.formContainer {
  margin: 12.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__form {
    width: 50rem;
  }

  &__button {
    margin-top: 1.25rem;
  }

  // &__create-post-controls {
  //   display: flex;
  // }

  &__publish {
    font-size: 1.5rem;
  }

  &__publish input {
    height: 1.2rem;
  }
}
